<html>
<head>
   <title>Live Workspace</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="/styles/styles.css" type="text/css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
   <div class="container">
      <div class="row">
         <div class="md-col-4">
            <h1>Who would you like to invite?</h1>
            <div class="input-group">
               <span class="input-group-addon">Email</span>
               <input id="invite-email" type="text" class="form-control" placeholder="bestfriend@example.com">
            </div>
            <div class="btn btn-primary invite-btn">Invite</div>
         </div>
      </div>
   </div>
   <script type="text/javascript" src="/js/inviteController.js"></script>
</body>
</html>