<html>

<head>
   <title>Live Workspace</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="/styles/styles.css" type="text/css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
   <div class="container">
      <div class="row">
         <div class="md-col-4">
            <h1>User was sucessfully added!</h1>
         </div>
      </div>
   </div>
</body>

</html>