<html>
   <head>
      <title>Live Workspace</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/styles/styles.css" type="text/css">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 login">
               <a href="/auth/github">
                  <div class="btn btn-primary" id="login-btn">
                     <p>LOGIN WITH GITHUB</p>
                  </div>
               </a>
               {{#if dev}}
                  <a href="/auth/mock">
                     <div class="btn btn-primary" id="login-btn">
                        <p>LOGIN WITH MOCK ACCOUNT</p>
                     </div>
                  </a>
               {{/if}}
            </div>
         </div>
      </div>
   </body>
</html>