<html>
   <head>
      <title>Live Workspace</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/styles.css" type="text/css">
   </head>
   <body>
      <div class="bg">
         <a href="/auth/github">
            <div class="btn btn-default" id="login-btn">
               <p>LOGIN WITH GITHUB</p>
            </div>
         </a>
         {{#if dev}}
            <a href="/auth/mock">
               <div class="btn btn-info" id="login-btn-mock">
                  <p>LOGIN WITH MOCK ACCOUNT</p>
               </div>
            </a>
         {{/if}}
      </div>
   </body>
</html>