<html>
   <head>
      <title>Live Editor</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/styles.css" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   </head>
   <body>
      <div class="sidenav">
         <div class="sidenav-link">
            <a href="/profile/workspaces"><h2 class="sidenav-link">Workspaces</h2></a>
         </div>
         <div class="sidenav-link">
            <a href="/logout"><h2 class="sidenav-link">Logout</h2></a>
         </div>
      </div>
      <div class="main">
         <div class="container">
            <div class="row">
               <img class="md-col-4" src="{{avatar_url}}" height="300" width="300"></h3>
               {{#if name}}
                  <h3 class="md-col-4">Name: {{name}}</h3>
               {{/if}}
               <h3 class="md-col-4">Username: {{username}}</h3>
               {{#if bio}}
                  <h3 class="md-col-4">Bio: {{bio}}</h3>
               {{/if}}
               <a href="/new">
                  <div  class="btn btn-primary new-workspace">Create New Workspace</div>
               </a>
            </div>
         </div>
      </div>
   </body>
</html>