 <!DOCTYPE html>
<html>
   <head>
      <title>Live Editor</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
      <script src="/codemirror/lib/codemirror.js"></script>
      <link rel="stylesheet" href="/codemirror/lib/codemirror.css"/>
      <script src="/codemirror/mode/javascript/javascript.js"></script>
      <link rel="stylesheet" href="/codemirror/theme/darcula.css"/>
   </head>
   <body>  
      <div class="sidenav">
         <a href="/profile"><h2 class="sidenav-link">Profile</h2></a>
         <a><h2 class="sidenav-link invite-new-user">Invite A User</h2></a>
         <a><h2 class="sidenav-link delete-workspace">Delete Workspace</h2></a>
         <a href="/logout"><h2 class="sidenav-link ">Logout</h2></a>

         <h2>Who's online</h2>
         <div class="online-user-list"></div>
      </div>
      <div class="main">
         <div class="container">
            <div class="row">
               <div class="col-xs-4">
                  <h1>{{name}}</h1>
                  <h3 style="font-weight: normal">{{description}}<h3>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-7">
                  <div class="row">
                     <h3 class="committed-title pull-left">Committed code</h3>
                     <div class="btn btn-primary hide-btn pull-right"><span id="hide-text">Hide</span></div>
                  </div>
                  <div class='row'>
                     <textarea readonly class="form-control committed-code rounded-0" rows="15">{{text}}</textarea>
                  </div>
                  <div class="row">
                     <h3>Editor</h3>
                     <textarea id="editor-box" rows="10"></textarea>
                  </div>
                  <div class="row">
                     <div class="col-xs-2 btn btn-primary pull-changes-btn pull-left">Pull Changes</div>
                     <div class="col-xs-3"></div>
                     <div class="col-xs-5 commit-div">
                        <input id="commit-msg" type="text" class="form-control pull-right" placeholder="Enter commit message"/>
                     </div>
                     <div class="col-xs-2 btn btn-success commit-btn pull-right">Commit</div>
                  </div>
               </div>
               {{#if commits}}
                  <div class="col-md-2 table-div">
                     <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                           <tr>
                              <th scope="col">Commit History</th>
                           </tr>
                        </thead>
                        <tbody>
                           {{#each commits}}
                              {{#if this.text}}
                                 <tr><td>{{this.description}}</td></tr>
                              {{/if}}
                           {{/each}}
                        </tbody>
                     </table>
                  </div>
               {{/if}}
            </div>
         </div>
      </div>
      <script>
         
      </script>
      <script type="text/javascript" src='/socket.io/socket.io.js'></script>
      <script type="text/javascript" src='/js/workspaceController.js'></script>
   </body>
</html>