textarea {
   resize: none;
}

.commited-code {
   overflow: scroll;
   border: none;
}

.changes {
   display: none;
}

.btn {
   margin-top: 10px;
   margin-bottom: 10px;
}

.commit-btn {
   background-color: brown;
}

.login {
   margin-top: 200px;
}